# Unity Specific
Library
Logs
Temp
Obj
Build
UserSettings

# IDE Configs and Other Unnecessary Files
*.sln
.DS_Store
Thumbs.db
.vscode
.vsconfig
settings.json
*.zip
*.htm
*.csproj
.idea
DMV-CTRL-ALT-DLT-Game.sln.DotSettings.user
